.title{
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 5rem;
    font-weight: 700;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.number-input{

    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;

}
.container{

    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 800px;

}
.reset-button{

    border: none;
    padding: 15px;
    color: white;
    background-color:cornflowerblue;

}
.container>div{

    background-color:lightblue;
    box-shadow: 3px 3px 25px gray;
}
.container>div:nth-child(17n + 1) {
    width: 100%;
    border: 0;
    height: 0;
}
.temp{

    background-color: black;

}